/.cagefs/
/.caldav/
/.cl.selector/
/.config/
/.cpanel/
/.idea/
/.npm/
/.putty/
/.softaculous/
/.spamassassin/
/.ssh/
/.subaccounts/
/.trash/
/etc/
/logs/
/lscmData/
/mail/
/nodevenv/
/old_public_html_farming_game/
/ssl/
/tmp/
/WebStore/
/.bash_history
/.bash_logout
/.bash_profile
/.bashrc
/.gemrc
/.gitignore
/.imunify_patch_id
/.last.inodes
/.lastlogin
/.myimunify_id
/.spamassassinboxenable
/.spamassassinenable
.env
.ftpquota
.htaccess
package.json
package-lock.json
/public_html/node_modules/